:root {
  --background-color: #fff;
  --text-color: #242424;
  --link-color: #0072cc;

  --brand-blue: #13263f;
  --brand-pink: var(--pink-400);

  --pink-400: #ff1f64; // the "key pink"
  --pink-500: #e81152;

  --grey-0: #fbfcfd; // used for site backgrounds, used rarely
  --grey-50: #f9fafb;
  --grey-100: #f1f5f8;
  --grey-200: #e4e9ed;
  --grey-300: #dfe3e5; // for secondary buttons
  --grey-500: #8ba0a7;
  --grey-600: #48555b; // 600 for like text areas inside the grey-50/200 bgs
  --grey-700: #34383a; // 700 for “muted” headings/inactive sections
  --grey-800: #242424; // body text colour

  // --space: 1rem;

  // Font Sizes
  --h1-size: 1.75rem;
  --h1-line-height: 1.3;
  --h2-size: 1.5rem;
  --h2-line-height: 1.4;
  --h3-size: 1.25rem;
  --h3-line-height: 1.5;
  --h4-size: 1.125rem;
  --h4-line-height: 1.4;
  --h5-size: 1.125rem;
  --h5-line-height: 1.4;
  --font-small: 0.875rem;
  --font-large: 2.75rem; // 44px
  --font-tag: 0.75rem;

  --border-radius: 3px;

  // Container
  --container-padding: 1rem;
  --container-width: 1400px;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

html[data-theme="dark"] {
  --background-color: #212a2e;
  --text-color: #f7f8f8;
  --link-color: #828fff;
}
