@import "../../styles/variables";
@import "../../styles/scss-variables";

.footer {
  background-color: var(--brand-blue);
  color: white;

  a {
    color: inherit;
  }
}

// CSS Grid
.footerLinks {
  :global(.container) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: $device-xl;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 4em;
    grid-template-areas:
      "."
      "."
      "."
      ".";

    @media (min-width: $device-md) {
      padding: 3rem;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        ". ."
        ". .";
    }
    @media (min-width: $device-lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: ". . . .";
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $device-lg) {
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.125rem;
      color: inherit;
      border-bottom: 1px solid #fff;
      margin-bottom: 0.5rem;
      padding-bottom: 0.25rem;
      line-height: var(--body-line-height);
    }

    a {
      padding: 0.2rem 0;
    }
  }
}

// Copyright area
.footerCopyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: var(--font-small);
  padding-top: 1rem;
  padding-bottom: 2rem;

  :global(.container) {
    display: grid;
    max-width: $device-xl;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem 0;
    grid-template-areas:
      "."
      ".";
    @media (min-width: $device-md) {
      padding: 0 3rem;
      gap: 0 2em;
      grid-template-columns: 1.5fr 0.5fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". .";
    }
  }

  p {
    font-size: inherit;
  }

  nav {
    padding: 0 0.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    a {
      padding: 0.2rem 0.2rem;
    }
  }
}

.copyrightLinks {
  display: flex;
  align-items: center;
  font-size: 0.875rem;

  span a {
    &:after {
      content: "|";
      padding-left: 0.25rem;
      margin-right: 0.25rem;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.socialLinks {
  gap: 0.75rem;
  @media (min-width: $device-md) {
    justify-content: flex-end;
  }

  a {
    padding: 0.5rem 0;
    display: block;

    svg {
      max-width: 24px;
      width: 100%;
      vertical-align: middle;
    }
  }
}
